<!DOCTYPE>
<html>

<head>
  <title>Sobre</title>
  <link rel="stylesheet" type="text/css" href="../style/style2.css">
</head>

<body>
  <header class="boxTop"></header>

  <ul>

    <li>
      <h1> O que é EAD ?</h1>
      <article>O Ensino a Distância (conhecido também como EAD) é uma nova alternativa de ensino que as pessoas têm
        encontrado para adquirir seu diploma - com horários e turnos de estudo flexíveis - e desta forma conquistar um
        bom emprego ou subir de cargo dentro de uma organização.
        O que levou à ascensão desta modalidade de Ensino foi a evolução tecnológica.

        A relação entre aluno e professor ocorre com a ajuda de ferramentas online, que são disponibilizadas no portal
        da Instituição de EAD escolhida.

        Com o EAD os caminhos entre o aluno e o diploma foram reduzidos, facilitando a vida daqueles que almejam o
        crescimento profissional, ou mesmo o reposicionamento na carreira.
      </article>
    </li>

    <li>
      <h1>Como funciona o EAD?</h1>
      <article>O EAD funciona de uma forma prática e simples. Para o ingresso em um curso EAD, o aluno precisa de um
        computador com acesso à internet e conhecimentos básicos de informática. Ao garantir esta primeira parte, o
        restante é mais simples ainda. Após a escolha do curso, da instituição e da aprovação no processo seletivo,
        faz-se o acesso ao site. Pronto, surge um ambiente inovador e dinâmico, onde serão disponibilizadas inúmeras
        ferramentas, como áreas com conteúdos de aulas, exercícios e trabalhos.

        Em outra parte encontra-se o calendário com as datas e prazos das atividades, além de locais para conversas e
        debates. Utiliza-se muito o e-mail para uma comunicação com o professor/tutor. Em algumas instituições de Ensino
        a Distância que oferecem graduação de nível superior é importante a realização de encontros presenciais algumas
        vezes durante o curso. Estes encontros são realizados em unidades da instituição, os chamados polos de apoio
        presencial.

        A maior parte do curso acontece de forma virtual. Por isso, quem tiver o interesse de ingressar nesta modalidade
        precisa ter disciplina, dedicação, organização e motivação. A dedicação necessária para concluir uma graduação
        EAD é bem vista pelo mercado de trabalho - entende-se que o possível colaborador possui disciplina e
        determinação.
      </article>
    </li>
    <li>
      <h1>Público alvo do EAD</h1>
      <article>
        O público alvo do EAD são aquelas pessoas que possuem pouco tempo livre e que precisam conciliar emprego e
        estudo, além de muitas vezes ainda terem que cuidar das atividades rotineiras, como casa e filhos. O EAD atrai
        este perfil de pessoas, pois é o aluno que monta seus horários de estudo, podendo assim estudar durante a semana
        ou só nos finais de semana, na parte da manhã, tarde, noite ou até mesmo de madrugada.

        O Ensino a Distância é a oportunidade para o crescimento pessoal e profissional com valor bem mais acessível que
        o de cursos privados presenciais, porém com o mesmo rigor de ensino e com diversas instituições a distância
        credenciadas pelo Ministério da Educação (MEC).

        Além do mais, o governo tem investido no crescimento do EAD nas Universidades Públicas, o que acaba sendo um
        maior incentivo de profissionalização e especialização para aquelas pessoas que não podem pagar por este
        serviço.
      </article>
    </li>
  </ul>
  <h1> <a href="#"
      onclick="window.open('main.html', 'SitePopUp', 'STATUS=NO, TOOLBAR=NO, LOCATION=NO, DIRECTORIES=NO, RESISABLE=NO, SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=770, HEIGHT=400');">
      HOME </a></h1>
  <footer>
    <p class="inf0">Uni-exemplo</p>
    <p class="inf">© 2019 Centro Universitário Municipal exemplo</p>
  </footer>
</body>

</html>